<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/TestNG_Projects/TestNG_Java">
        <classes>
            <class name="Priority_TestNG">
                <methods>
                    <include name="setUp"/>
                    <include name="login"/>
                    <include name="tearDown"/>
                </methods>
            </class>
            <class name="Skip_Pass_Fail">
                <methods>
                    <include name="skipTestMethod"/>
                    <include name="passTestMethod"/>
                    <include name="failTestMethod"/>
                </methods>
            </class>
            <class name="DependOn_AlwaysRun_Method">
                <methods>
                    <include name="wakeUp"/>
                    <include name="getFresh"/>
                    <include name="work"/>
                    <include name="goToBed"/>
                    <include name="sleep"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>