<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/TestNG_Projects/TestNG_Java">
        <classes>
            <class name="Priority_TestNG"/>
            <class name="Skip_Pass_Fail"/>
        </classes>
    </test>
</suite>